<!-- src/ui/views/common/nav.ejs -->
<nav>
    <button onclick="window.location.href='/execution'">Ir a Ejecución</button>
    <button onclick="window.location.href='/edit'">Ir a Edición</button>
    <button onclick="window.location.href='/'">Ir a Bienvenida</button>
</nav>
